    /*Defaults*/
    *{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration:none;
    }
    body {
        height: 100%;
        width: 100%;
        border: 0;
        background-color: white;
        font-size: 18px;
        font-family: 'Baloo Da 2', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica;
    }

    .contenedor {
        display: grid;
        grid-template-columns: [first] 100% [end];
        grid-template-rows: [header] 12.5% [body] auto [footer] 370px [end];
        grid-gap: 1px;
        color: #444;
        /*Las 3 siguientes lineas de codigo producen que el #contener llene por completo el cuerpo de la pagina.*/
        position: absolute;
        width: 100%;
        height: 100%;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    .box {
        background-color: white;
        color: #fff;
        border-radius: 0 0 0 1px;
    }

    .a {
        grid-area: header;
        grid-column: 1 / end;
        grid-row: 1 / 2;
        background: repeating-linear-gradient(45deg, greenyellow 0%, #2b2b2b 2%, #222222 0%, #222222 50%) 0 / 150px 150px;
        box-shadow: 0 0 10px 10px rgba(255, 0, 100, .4);
        position: fixed;
        justify-items: stretch;
        width: 100%;
        height: 12.5%;
        display: grid;
        grid-template-columns: [logo] 70% [links] auto [end];
        grid-template-rows: [ndd] 100% [end];
        grid-gap: 0;
        color: yellowgreen;
    }

    .Navea {
        display: grid;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        grid-template-columns: [fa] 22% [fb] 70% [fc] auto [end];
        grid-template-rows: [fd] 30% [fe] 50% [ff] 20%;
        justify-items: stretch;
        color: rgb(255, 0, 100)
    }

    .NaveaSon {
        grid-column: fb / fc;
        grid-row: 2 / 3;
    }

    .NavMenu {
        display: grid;
        grid-column: 2 / 3;
        grid-row: ndd / end;
        justify-items: stretch;
        grid-template-columns: [r1] 10% [r2] 90% [r3] auto [end];
        grid-template-rows: [fd] 30% [fe] 50% [ff] 20%;
        color: rgb(255, 0, 100)
    }

    .NaveMenuSon {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .b {
        grid-area: main;
        grid-column: first / end;
        grid-row: body / span 1;
        background: repeating-linear-gradient(45deg, greenyellow 0%, #2b2b2b 10%, #222222 0%, #222222 100%) 0 / 5px 5px;
    }

    .estado {
        text-align: center;
        font-size: 18;
        color: rgb(255, 0, 100);
    }

    .c {
        display: grid;
        grid-area: footer;
        grid-column: first / end;
        grid-row: footer / span 1;
        background: #2b2b2b;
        justify-items: stretch;
        grid-template-columns: [s1] 25% [s2] 25% [s3] 25% [s7] 25% [end];
        grid-template-rows: [s4] 20% [s5] 20% [s6] 20% [s8] 20% [s9] 20% [end];
    }

    .socialMedia {
        justify-items: stretch;
        grid-row: 3 / 4;
        grid-column: 2 / 4;
        text-align: center;
    }


    .contenedor1 {
        display: grid;
        grid-template-columns: [first] 0% [second] 83% [third] 1% [end];
        grid-template-rows: [num1] 2% [contenido1] auto [num2] auto [end];
        grid-gap: 0px;
        color: yellowgreen;
        justify-items: stretch;
        grid-template-areas:
            "costadoiz""content""costadoder"
            "costadoiz""content""costadoder"
            "costadoiz""content""costadoder";
    }

    .a1 {
        grid-column: second / span third;
        grid-row: num1 / num2;
        justify-items: stretch;
    }

    .a2 {
        grid-column: 2 / 5;
        grid-row: 3 / num2;
    }

    .a3 {
        display: grid;
        grid-template-columns: [firstM] 99% [linea] 1% [end];
        grid-template-rows: [f1] 28% [contenido1] 17% [num2] 17% [num3] 17% [num4] 17% [end];
        grid-column: third / num2;
        grid-row: 2 / num2;
        justify-items: stretch;
        gap: 1%;
    }

    /*Styling the menu*/
    .ma {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        /*transform: rotate(90deg); /* Standard syntax */
    }

    .mb {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .mc {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .md {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .me {
        grid-column: 1 / 2;
        grid-row: 5 / end;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    /*Nav bar*/
    nav {
        overflow: hidden;
    }

    .navul:hover {
        color: rgb(255, 0, 100);
        text-shadow: 0 0 10px rgba(255, 0, 100, .9);
    }

    .navul {
        text-align: center;
        list-style-type: none;
    }

    .logo {
        display: inline-block;
    }

    .logox {
        text-decoration: none;
        line-height: 50px;
        text-transform: uppercase;
        padding: 0;
        color: rgb(255, 0, 100);
        border-radius: 5px;
    }

    .logox:hover {
        border: 2px solid rgb(255, 0, 100);
        background: rgba(255, 0, 100, .4);
        box-shadow: 0 -9px 0 0 rgb(255, 0, 100);
        border-bottom: 10px solid rgb(255, 0, 100);
    }

    .menuLink {
        color: rgb(255, 0, 100);
        text-decoration: none;
        font-size: auto;
        text-transform: uppercase;
        border-radius: 2px;
    }

    .linksFooter {
        color: white;
    }

    .menuLink:hover {
        border: 2px solid rgb(255, 0, 100);
        background: rgba(255, 0, 100, .4);
        box-shadow: 0 -10px 10px 28px rgba(255, 0, 100, 0.5);
        border-bottom: 3px solid rgba(255, 0, 100, 0.1);
        animation: border-flicker 2s linear forwards;

    }

    .linksFooter:hover {
        color: rgba(255, 0, 100, .7);
    }

    .neon {
        text-align: center;
        border-radius: 12px;
        border: 1px solid yellowgreen;
        width: 100%;
        height: 100%;
        cursor: pointer;
        color: rgb(255, 0, 100);
        font-size: 10px;
        background-color: #444;
    }

    .neon:hover {
        animation: border-flicker 2s linear forwards;

    }

    @keyframes border-flicker {
        2% {
            border: 3px solid yellowgreen;
            box-shadow: 0 0 15px -1px yellowgreen,
                0 0 12px -1px yellowgreen inset;
            color: rgb(230, 0, 120);
            text-shadow: 0 0 15px rgb(230, 0, 120);
        }

        3% {
            border: 3px solid rgb(0, 40, 70);
            box-shadow: none;
            color: rgba(120, 0, 50, .5);
            text-shadow: none;
        }

        5% {
            border: 3px solid yellowgreen;
            box-shadow: 0 0 15px -1px yellowgreen,
                0 0 12px -1px yellowgreen inset;
        }

        6% {
            border: 3px solid rgb(0, 40, 70);
            box-shadow: none;
            color: rgb(230, 0, 120);
            text-shadow: 0 0 15px rgb(230, 0, 120);
        }

        7% {
            border: 3px solid yellowgreen;
            box-shadow: 0 0 15px -1px yellowgreen,
                0 0 12px -1px yellowgreen inset;
        }

        9% {
            border: 3px solid rgb(0, 40, 70);
            box-shadow: none;
            color: rgba(120, 0, 50, .5);
            text-shadow: none;
        }

        13% {
            border: 3px solid rgb(0, 180, 230);
            box-shadow: 0 0 15px -1px rgb(0, 180, 230),
                0 0 12px -1px rgb(0, 180, 230) inset;
        }

        16% {
            border: 3px solid rgb(0, 40, 70);
            box-shadow: none;
        }

        18% {
            border: 3px solid rgb(0, 180, 230);
            box-shadow: 0 0 15px -1px rgb(0, 180, 230),
                0 0 12px -1px rgb(0, 180, 230) inset;
        }

        22% {
            border: 3px solid rgb(0, 40, 70);
            box-shadow: none;
        }

        34% {
            border: 3px solid rgb(0, 180, 230);
            box-shadow: 0 0 15px -1px rgb(0, 180, 230),
                0 0 12px -1px rgb(0, 180, 230) inset;
        }

        36% {
            border: 3px solid rgb(0, 40, 70);
            box-shadow: none;
        }

        54% {
            border: 3px solid yellowgreen;
            box-shadow: 0 0 15px -1px yellowgreen,
                0 0 12px -1px yellowgreen inset;
        }

        100% {
            border: 3px solid rgb(0, 180, 230);
            box-shadow: 0 0 15px -1px rgb(0, 180, 230),
                0 0 12px -1px rgb(0, 180, 230) inset;
            color: rgb(230, 0, 120);
            text-shadow: 0 0 15px rgb(230, 0, 120);
        }
    }

    /*.Charts{
        border: 1px dotted red;
    }*/